# Build artifacts
*.o
write_noncanonical
read_noncanonical
cable
transmitter
receiver
link_layer
application_layer

# Documentation (large, available online)
*.pdf

#Claude configs
CLAUDE.md

receiver
transmitter
cable

.aider*
penguin_received.gif
test_protocol
Report.xml
.~lock.Report.odt#
